<div class="navbar">
    My Website
    <div class="nav-items">
      <%  if(isAuthenticated) {  %>
             <a href="/">Home</a>
             <a href="/addBlog">Add Blog</a>
            <a href="/logout">Logout</a>
            
      <%  } else {  %>
            <a href="/register">register</a>
            <a href="/login">Login</a>
             <a href="/about">About</a>
     <% }  %>
       
       
        
    </div>
</div>