<div class="navbar">
    My Website
    <div class="nav-items">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>
</div>